#wrapper {
  width: 100%;
  height: 1080;
  overflow-x: hidden;
  position: relative;
}

#page-wrapper {
  padding: 0 15px;
  min-height: 100px;
  position: relative !important;
}

.gray-bg {
  background-color: #606060;
}

.inputModalPeca {
  height: 25px;
  font-size: 13px;
}

.ibox-title {
  background-color: #fff;
  border-color: #e7eaec;
  border-style: solid solid none;
  border-width: 3px 0 0;
  margin-bottom: 0;
  padding: 14px 15px 7px;
  min-height: 48px;
}

.centered {
  vertical-align: middle; 
  text-align: center;
}

#btnPecaTd {
  border: none;
  padding: 0px;
}

#imgPecaTd {
  height: 35px;
  width: 35px;
  border: 1px solid #ddd;
}

#imgUploadPeca {
  margin-top: 15px;
  width: 257px;
  height: 257px;
  border: 1px solid white;
  border-radius: 4px;
  display: none;
}

.navbar-top-links li {
  margin-right: 40px;
}

.top-nav.navbar-right > li > a {
  color: #999c9e;
}

.nav > li > a i {
    margin-right: 6px;
}

.panel-heading {
  color: #d9d9d9;
  font-weight: 600;
  font-size: 13px;
  padding: 14px 20px 30px 25px;
  background-color: black !important;
  margin: 5px 5px 0px 5px;
  width: 210px;
  height: 46px;
  border: none;
}

.panel-heading:hover {
  color: #fbe724;
}

div[aria-expanded="true"]{
  color: #fbe724;
}

.panel-body {
  padding: 10px 0px 14px 0px;
}

.gray {
  color: #d9d9d9 !important;
  text-decoration: none !important;
}

.gray:hover{
  color: #fbe724 !important;
  text-decoration: none !important;
}

.panel-collapse {
  font-weight: 600;
  font-size: 13px;
  background-color: black !important;
  margin: 0px 5px 0px 5px;
  padding: 0px 0px 0px 60px;
}

.top10{
  margin-top: 10px;
}

.panel-collapse > div > a {
  margin-top: 10px;
}

.arrows-v {
  color: #d9d9d9;
}

.navbar-static-side {
  z-index: 2001;
  position: absolute;
  width: 220px;
}

.navbar-default {
  background-color: #292929;
  border-color: #2f4050;
  height: 100%;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 0px;
  font-size: 14px;
  text-align: right;
  padding-right: 30px;
  color: white;
}

.right6 {
  margin-right: 6px;
}

/*IBOX CONTENT*/
.ibox {
  clear: both;
  margin-bottom: 25px;
  margin-top: 0;
  padding: 0;
}

.ibox-content {
  background-color: #ffffff;
  color: inherit;
  padding: 15px 20px 20px 20px;
  border-color: #e7eaec;
  border-image: none;
  border-style: solid solid none;
  border-width: 1px 0;
}

.nav-header {
  padding: 20px 0;
  text-align: center;
  background-color: #292929 !important;
}
.nav-header-link {
  background-color: #292929 !important;
}
.nav-header-link:hover,
.nav-header:hover {
  background-color: #292929 !important;
}

.headerNav {
  color: black;
  font-size: 20px;
}

.headerNav:hover {
  color: black;
  text-decoration: none;
}

.nav-header a:not(.headerNav) {
  color: #DFE4ED;
}

.clear {
  display: block;
  overflow: hidden;
}

.border-top {
  border-top: 1px solid #f8e400;
}

.top-nav > li {
  list-style-type: none;
  color: #d9d9d9;
  font-weight: 600;
  padding: 20px 20px 10px 0px;
}

.top-nav > li > a {
  color: #d9d9d9;
  font-weight: 600;
  padding: 14px 20px 14px 25px;
}

.nav > li:not(:first-child) > a {
    color: #d9d9d9;
    font-weight: 600;
    padding: 14px 20px 14px 25px;
    background-color: black !important;
    margin: 5px 5px 0px 5px;
}

.nav > li > a:hover {
    color: #fbe724 !important;
}

.logo-element {
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  color: white;
  display: none;
  padding: 18px 0;
}

#page-wrapper {
  position: inherit;
  margin: 0 0 0 220px;
  overflow-x:hidden;
  height: 1080px;
  overflow-y: auto;
}

.navbar-static-side {
  z-index: 2001;
  position: absolute;
  width: 220px;
}

.navbar-top-links .dropdown-messages,
.navbar-top-links .dropdown-tasks,
.navbar-top-links .dropdown-alerts {
  margin-left: auto;
}

body {
  font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #3c3c3c;
  font-size: 13px;
  color: #676a6c;
  overflow-x: hidden;
}

.cancelar {
  float: left;
}

.salvar {
  float: right;
}

td.center {
  text-align:center;
}
#topnavbar {
  color: white;
}
#topnavbar .topnav-info > div {
  display: inline-block;
}
#topnavbar .topnav-info .topnav-info-user  {
  margin-right: 30px;
}
#topnavbar .topnav-info > span {
  font-size: 1.7em;
}
.logo {
  width: 100px;
}
.home-view {
  width: 100%;
  height: 100%;
}