<nav id="sidenavbar" class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul side-navigation class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <a class="nav-header-link" href="#/home"><img class="logo" src="../../../images/logo3.png"></a>
            </li>

            <div class="panel-heading" role="tab" id="headingResumo" data-toggle="collapse" data-target="#collapseResumo" aria-expanded="false aria-controls="collapseResumo">
                <span class="pull-left">
                    <span class="fa fa-database right6"></span>
                    <span class="collapsed" role="button">
                        CADASTRO
                    </span>
                </span>
            </div>
            <div id="collapseResumo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingResumo">
                <div class="panel-body">
                    <div>
                        <a class="gray" href="#/add-apontamento">
                            <span>Apontamento</span>
                        </a>
                    </div>
                    <div ng-if="currentCargo == 'admin' || currentCargo == 'manager'" class="top10">
                        <a class="gray" href="#/add-projeto">
                            <span>Projeto</span>
                        </a>
                    </div>
                    <div ng-if="currentCargo == 'admin' || currentCargo == 'manager'" class="top10">
                        <a class="gray" href="#/add-atividade">
                            <span>Atividade</span>
                        </a>
                    </div>
                    <div ng-if="currentCargo == 'admin'" class="top10">
                        <a class="gray" href="#/add-usuario">
                            <span>Usuario</span>
                        </a>
                    </div>
                </div>
            </div>

            <li>
                <a href="#/listagem">
                    <span class="fa fa-list-ul  right6"></span>
                    <span class="nav-label">LISTAGEM</span>
                </a>
            </li>
         </ul>
    </div>
</nav>
 
