<div ng-controller="ApontamentoController as ctrl">
	<div class="row">
	    <div class="col-lg-12">
	      	<div class="ibox float-e-margins">
	      		<div class="ibox-title">
	          		<h5>Cadastro de Apontamento</h5>
	        	</div>
	        	<div class="ibox-content">
	        		<div class="row">
	        			<div class="col-xs-2">
	                		<div class="form-group col-xs-12">
	                  			<label>Data:</label>
	                  			<input class="form-control" type="date" ng-model="ctrl.apontamento.data" required/>
	                		</div>
	                	</div>
	                	<div class="col-xs-2">
	                		<div class="form-group col-xs-12">
	                			<label>Horas trabalhadas:</label>
	                			<input class="form-control" placeholder="00:00" name="hora" dir-Formata maxlength="5" type="text" ng-model="ctrl.apontamento.horasTrabalhadas" required/>
	                		</div>
	                	</div>
	                	<div class="col-xs-4">
	                		<div class="form-group col-xs-12">
	                			<label>Projeto:</label>
	                			<select ng-change="ctrl.listaAtividades(ctrl.apontamento.projeto)" ng-model="ctrl.apontamento.projeto" ng-options="p.nom_projeto for p in ctrl.projetos track by p.id" class="form-control">
							      	<option value="">Selecione um projeto</option>
							      	<option value="{{p.id}}">{{p.nom_projeto}}</option>
							    </select>
	                		</div>
	                	</div>
	                	<div class="col-xs-4">
	                		<div class="form-group col-xs-12">
	                			<label>Atividade:</label>
	                			<select ng-disabled="ctrl.disabled" ng-model="ctrl.apontamento.atividade" ng-options="p.nom_atividade for p in ctrl.atividades track by p.id_atividade" class="form-control">
							      	<option value="">Selecione uma atividade</option>
							      	<option value="{{p.id_atividade}}">{{p.nom_atividade}}</option>
							    </select>
	                		</div>	                		
	                	</div>
	        		</div>
	        		<div class="row">
						<div class="col-xs-12">
							<div class="col-xs-2">
								<button ng-click="ctrl.cancelar()" class="btn btn-danger cancelar">
									<span class="fa fa-ban"></span> Cancelar
								</button>
								<button ng-click="ctrl.salvar()" class="btn btn-primary salvar" ng-disabled="!ctrl.apontamento.data || !ctrl.apontamento.horasTrabalhadas || !ctrl.apontamento.projeto || !ctrl.apontamento.atividade" ng-click="ctrl.salvar()" id="add-new-btn" type="submit">
									<span class="fa fa-save"></span> Salvar
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
