<div ng-controller="AtividadeController as ctrl">
	<div class="row">
	    <div class="col-lg-12">
	      	<div class="ibox float-e-margins">
	      		<div class="ibox-title">
	          		<h5>Cadastro de Atividade</h5>
	        	</div>
	        	<div class="ibox-content">
	        		<div class="row">
						<div class="col-md-4">
							<div class="form-group col-xs-12">
					  			<label>Nome:</label>
					  			<input class="form-control" id="nome" maxlength="100" type="text" ng-model="ctrl.atividade.nome" required/>
							</div>
						</div>
						<div class="col-md-4">
					 		<div class="form-group col-xs-12">
					 			<label>Descrição:</label>
					 			<textarea rows="3" class="form-control" ng-model="ctrl.atividade.descricao" required></textarea>
					 		</div>
					 	</div>
					 	<div class="col-md-4">
	                		<div class="form-group col-xs-12">
	                			<label>Horas estimadas:</label>
	                			<input class="form-control" placeholder="00:00" name="hora" dir-Formata maxlength="5" type="text" ng-model="ctrl.atividade.horasEstimadas" required/>
	                		</div>
	                	</div>
	        		</div>
	        		<div class="row">
	        			<div class="col-xs-4">
	                		<div class="form-group col-xs-12">
	                			<label>Projeto:</label>
	                			<select ng-change="ctrl.listarUsuarios(ctrl.atividade.projeto)" ng-model="ctrl.atividade.projeto" ng-options="p.nom_projeto for p in ctrl.projetos track by p.id" class="form-control">
							      	<option value="">Selecione um projeto</option>
							      	<option value="{{p.id}}">{{p.nom_projeto}}</option>
							    </select>	                			
	                		</div>	                		
	                	</div>
	                	<div class="col-xs-4">
	                		<div class="form-group col-xs-12">
	                			<label>Usuário:</label>
	                			<select ng-disabled="ctrl.disabled" ng-model="ctrl.atividade.usuario" ng-options="p.nome for p in ctrl.usuarios track by p.id_usuario" class="form-control">
							      	<option value="">Selecione um usuário</option>
							      	<option value="{{p.id_usuario}}">{{p.nome}}</option>
							    </select>
	                		</div>	                		
	                	</div>
	                	<div class="col-md-4">
					 		<div class="form-group col-xs-12">
					 			<label>Data Encerramento:</label>
					 			<input class="form-control" type="date" ng-model="ctrl.atividade.data" required/>
					 		</div>
					 	</div>
	        		</div>
	        		<div class="row">
						<div class="col-xs-12">
							<div class="col-xs-2">
								<button ng-click="ctrl.cancelar()" class="btn btn-danger cancelar">
									<span class="fa fa-ban"></span> Cancelar
								</button>
								<button ng-click="ctrl.salvar()" class="btn btn-primary salvar" ng-disabled="!ctrl.atividade.nome" ng-click="ctrl.salvar()" id="add-new-btn" type="submit">
									<span class="fa fa-save"></span> Salvar
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
