<div ng-controller="ConsultaController as ctrl">
	<div class="row">
	    <div class="col-lg-12">
	      	<div class="ibox float-e-margins">
	      		<div class="ibox-title">
	          		<h5>Consulta de Ferro Velho</h5>
	        	</div>
	        	<div class="ibox-content">
	        		<div class="row">
	        			<div class="col-xs-12">
	                		<div class="form-group col-xs-3">
	                  			<label>Selecione um Ferro Velho</label>
	                  			<select ng-options="f as f.nome for f in ctrl.dadosSelect" ng-model="ctrl.selected" class="form-control">
	                  				<option value="">Selecione...</option>
	                  			</select>
	                		</div>
	                	</div>
	        		</div>
				</div>
			</div>
		</div>
	</div>
</div>
