<div style="background: url(../../images/logo-home.jpg); background-repeat: no-repeat; height: 100%; overflow: hidden;"class="row">

	<div id="alerts" style="max-height:500px;min-height:150px;display:none;height:auto;background:dimgray;width:400px;position:fixed;bottom:0;right:0;">
		<h4 style="width:90%;display:inline-block;text-align:center;padding:10px 0 20px;color:red;">Atividades em Atraso!</h4>
		<span ng-click="closeAlert();" id="close-alert" style="cursor:pointer;color:white;padding: 7px 20px 0 0;float: right;font-size: 20px;">X</span>
		<div style="float: left" class="alerts-em-atraso">
			
		</div>
	</div>

</div>
