<div ng-controller="ListagemController as ctrl">
	<div class="row">
	    <div class="col-lg-12">
	      	<div class="ibox float-e-margins">
	      		<div class="ibox-title">
	          		<h5>Listagem</h5>
	        	</div>
	        	<div class="ibox-content">
	        		<div class="row">
	        			<div class="col-md-12">
	                		<div class="form-group col-md-3">
	                  			<select ng-change="ctrl.listar(ctrl.tipoListagem)" class="form-control" ng-model="ctrl.tipoListagem">
							      	<option value="">O que deseja listar?</option>
							      	<option value="apontamento">Apontamento</option>
							      	<option value="atividade">Atividade</option>
							      	<option value="projeto">Projeto</option>
							      	<option value="usuario">Usuário</option>
							    </select>
	                		</div>
	                	</div>
	        		</div>
	        		<div style="margin-top: 20px" class="row">
	        			<div class="col-md-12">

	        				<table id="table_projeto" style="display: none" class="display" width="100%"></table>

	        				<table id="table_atividade" style="display: none" class="display" width="100%"></table>

							<table id="table_apontamento" style="display: none" class="display" width="100%"></table>
							
							<table id="table_usuario" style="display: none" class="display" width="100%"></table>

	        			</div>
	        		</div>
				</div>
			</div>
		</div>
	</div>
</div>

