<div ng-controller="LoginController as ctrl" class="limiter">
	<div class="container-login100">
		<div class="wrap-login100">
			<div class="login100-form-title" style="background-image: url(images/login-bg.jpg);">
				<span ng-if="ctrl.resetPassword == 0" class="login100-form-title-1">
					Sign In
				</span>
				<span ng-if="ctrl.resetPassword == 1" class="login100-form-title-1">
					Reset Password
				</span>
			</div>

			<form class="login100-form validate-form">
				<div ng-if="ctrl.resetPassword == 0" class="wrap-input100 validate-input m-b-26">
					<span class="label-input100">Username</span>
					<input class="input100" type="text" ng-model="ctrl.user.login" name="username" placeholder="Enter username">
					<span class="focus-input100"></span>
				</div>

				<div ng-if="ctrl.resetPassword == 0" class="wrap-input100 validate-input m-b-18">
					<span class="label-input100">Password</span>
					<input class="input100" type="password" ng-model="ctrl.user.password" name="pass" placeholder="Enter password">
					<span class="focus-input100"></span>
				</div>

				<div ng-if="ctrl.resetPassword == 1" class="wrap-input100 validate-input m-b-18">
					<span class="label-input100 new-password">New Password</span>
					<input class="input100" type="password" ng-model="ctrl.user.newPassword" name="pass" placeholder="Enter password">
					<span class="focus-input100"></span>
				</div>

				<div ng-if="ctrl.resetPassword == 1" class="wrap-input100 validate-input m-b-18">
					<span class="label-input100 new-password">Confirm Password</span>
					<input class="input100" type="password" ng-model="ctrl.newPasswordConfirm" name="pass" placeholder="Enter password">
					<span class="focus-input100"></span>
				</div>

				<p style="color: red" ng-if="ctrl.confirmPassword == 0">
					Senhas diferentes!
				</p>

				<div id="div-login-btn" class="container-login100-form-btn">
					<button ng-if="ctrl.resetPassword == 0" ng-click="ctrl.login()" ng-disabled="!ctrl.user.login || !ctrl.user.password" class="login100-form-btn">
						Login
					</button>
					<button ng-if="ctrl.resetPassword == 1" ng-click="ctrl.login()" ng-disabled="!ctrl.user.login || !ctrl.user.newPassword" class="login100-form-btn">
						Login
					</button>
				</div>

			</form>
		</div>
	</div>
</div>