<div ng-controller="ProjetoController as ctrl">
	<div class="row">
	    <div class="col-lg-12">
	      	<div class="ibox float-e-margins">
	      		<div class="ibox-title">
	          		<h5>Cadastro de Projeto</h5>
	        	</div>
	        	<div class="ibox-content">
	        		<div class="row">
	        			<div class="col-md-4">
	        				<div class="form-group col-md-12">
	        					<label>Nome:</label>
	        					<input maxlength="100" id="nome" class="form-control" ng-model="ctrl.projeto.nome" type="text" required>
	        				</div>
	        			</div>
	        			<div class="col-md-4">
	        				<div class="form-group col-md-12">
	        					<label>Descrição:</label>
	        					<textarea rows="3" class="form-control" ng-model="ctrl.projeto.descricao" required></textarea>
	        				</div>
	        			</div>
	        			<div class="col-md-4">
	        				<label>Participantes:</label>
        					<div style="overflow: auto; height: 74px;border: 1px solid #ccc; border-radius: 4px;" class="form-group col-md-12">
        						<label ng-repeat="usuario in ctrl.usuarios" for="{{usuario.nome}}">
            						<input class="check-usuario" type="checkbox" id="{{usuario.id_usuario}}"/> {{usuario.nome}}
        						</label>
        					</div>
        					
	        			</div>
	        		</div>
					<div class="row">
						<div class="col-xs-12">
							<div class="col-xs-2">
								<button ng-click="ctrl.cancelar()" class="btn btn-danger cancelar">
									<span class="fa fa-ban"></span> Cancelar
								</button>
								<button ng-click="ctrl.salvar()" class="btn btn-primary salvar" ng-disabled="!ctrl.projeto.nome" ng-click="ctrl.salvar()" id="add-new-btn" type="submit">
									<span class="fa fa-save"></span> Salvar
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
