<div ng-controller="UsuarioController as ctrl">
	<div class="row">
	    <div class="col-lg-12">
	      	<div class="ibox float-e-margins">
	      		<div class="ibox-title">
	          		<h5>Cadastro de Usuário</h5>
	        	</div>
	        	<div class="ibox-content">
	        		<div class="row">
                		<div class="form-group col-xs-3">
                  			<label>Login</label>
                  			<input class="form-control" maxlength="30" type="text" ng-model="ctrl.user.login" required/>
                		</div>
                		<!-- <div class="form-group col-xs-3">
        		 			<label>Senha</label>
                  			<input class="form-control" maxlength="20" type="password" ng-model="ctrl.user.senha" required/>
        		 		</div> -->
        		 		<div class="form-group col-xs-3">
        		 			<label>Nome</label>
                  			<input class="form-control" maxlength="50" type="text" ng-model="ctrl.user.nome" required/>
        		 		</div>
        		 		<div class="form-group col-md-4">
                			<label>Cargo:</label>
                			<select ng-model="ctrl.user.cargo" ng-options="c.dsc_cargo for c in ctrl.cargos track by c.id_cargo" class="form-control">
						      	<option value="">Selecione um cargo</option>
						      	<option value="{{c.id_cargo}}">{{c.dsc_cargo}}</option>
						    </select>
	                	</div>
	        		</div>
	        		<div class="row">
						<div class="col-md-2">
							<button class="btn btn-primary" ng-disabled="!ctrl.user.login || !ctrl.user.senha || !ctrl.user.cargo" ng-click="ctrl.salvar()" id="add-new-btn" type="submit"><span class="fa fa-save"></span> Salvar</button>
						</div>
	        		</div>
				</div>
			</div>
		</div>
	</div>
</div>
