<div ng-controller="BaseController as ctrl" id="wrapper">
    <menu></menu>
    <div id="page-wrapper" class="gray-bg">
        <div id="topnav2" ng-include="'app/views/layout/topnavbar.html'"></div>
        <div class="home-view" ui-view></div>
        <footer class="footer">Desenvolvido por Guilherme Stollmeier e Rodrigo Soares</footer>
    </div>
</div>
