<div id="topnavbar" class="row border-bottom">
    <nav role="navigation" style="margin: 10px 0; float: right">
        <div>
            <span minimaliza-sidebar></span>
        </div>
        <div class="topnav-info">
            <div class="topnav-info-user" ng-if="currentUser"><b>Bem Vindo, {{ currentUser }}</b></div>    
            <a style="margin-right: 40px" ng-click="logout();"> <span style="font-size: 24px; color: white" class="fa fa-sign-out"></span> </a>
        </div>
    </nav>
</div>
